config/letsencrypt/*
config/letsencrypt/.*
!config/letsencrypt/domains.conf
!config/letsencrypt/live
!config/letsencrypt/archive
!config/letsencrypt/accounts
!config/letsencrypt/renewal
config/letsencrypt/live/.*
config/letsencrypt/live/*/.*
config/letsencrypt/live/README
config/letsencrypt/live/*/README
config/letsencrypt/archive/.*
config/letsencrypt/archive/*/.*
config/letsencrypt/archive/README
config/letsencrypt/archive/*/README
config/letsencrypt/accounts/.*
config/letsencrypt/renewal/.*
config/nginx/conf.d/default.conf
config/nginx/logs
saleor-dashboard
saleor-storefront
saleor
!config/saleor
!config/saleor-dashboard
!config/saleor-storefront